body {
  margin: 0;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-orange: #F0AD4E;
  --color-blue: #337AB7;
  --color-green: #5CB85C;
  --color-red: #D9534F;
  --color-gray: #F5F5F5;
  --color-white: #FFF;
  --color-black: #000;
}
